body{
    font-family: 'Roboto' , sans-serif;
    justify-items: center;
    /*background: #0A0A14;*/
}

header{
    background: #14191E;
    width: 1100px;
}

header h1{
    color: white;
}

header h1 span {
    color: #FA776E;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

header nav a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #C8C8C8;
}


header button {
    width:140px;
    height: 35px;
    background: #F57D1E;
    border: none;
    border-radius: 4px;
    color: white;
}

header button:hover{
    cursor: pointer;
    background:#CC5500;
}

.hero-section img{
    width: 1100px;
    height: 400px;
    object-fit: cover;
}

.text-hero{
    background: #14191E;
    border-left: 3px solid #F57D1E;
    width: 500px;
    padding: 20px;
}

.text-hero h2{
    color: white;
}

.text-hero p{
    color: #c8c8c8;
}