body{
    font-family: 'Roboto' , sans-serif;
    justify-items: center;
    background: #0A0A14;
}

header{
    background: #14191E;
    width: 1100px;
    border-bottom: 1px solid #2D2929;
}

header h1{
    color: white;
}

header h1 span {
    color: #FA776E;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

header nav a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #C8C8C8;
}


header button {
    width:140px;
    height: 35px;
    background: #F57D1E;
    border: none;
    border-radius: 4px;
    color: white;
}

header button:hover{
    cursor: pointer;
    background:#CC5500;
}

main {
    height: 450px;
}

.hero-section img{
    width: 1100px;
    height: 400px;
}

.text-hero{
    background: #14191E;
    border-left: 3px solid #F57D1E;
    width: 500px;
    padding: 20px;
    position: relative;
    bottom: 200px;
    left: 40px;
}

.text-hero h2{
    color: white;
}

.text-hero p{
    color: #c8c8c8;
}

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-content: center;
}

.our-process{
    background: #14191E;
    height: 600px;
    border: 2px solid #292E38;
    border-radius: 5px;
    padding: 20px;
}

.our-process h2{
    color: white;
}

.our-process p{
    color: #c8c8c8;
}

.our-process img{
    width: 40px;
    height: 40px;
}

.article-benefits{
    background: #1E232D;
    border-top: 2px solid #F27B1E;
    text-align: center;
}

.article-process{
    background: #1E232D;
    border-top: 2px solid #F27B1E;
    text-align: center;
}

.article-certificates{
    background: #1E232D;
    border-top: 2px solid #F27B1E;
    text-align: center;
}

.last-projects{
    background: #14191E;
    border: 2px solid #292E38;
    border-radius: 5px;
    padding: 20px;
    height: 270px;
    width: 360px;
}

.last-projects h2{
    color: white;
    border-bottom: 2px solid #292E38;
}

.last-projects p {
    color: #c8c8c8;
}

.certificates{
    background: #14191E;
    border: 2px solid #292E38;
    border-radius: 5px;
    height: 270px;
    width: 360px;
    padding: 20px;
    margin-top: 15px;
}

.certificates h2{
    color: white;
    border-bottom: 2px solid #292E38;
}

.certificates p{
    color: #c8c8c8;
}

.all-sections{
    display: grid;
    grid-template-columns: 640px 400px;
    gap: 20px;
}

.rodape{    
    padding: 20px;
    width: 1060px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid #1F242C;
}

.rodape h2{
    color: white;
}

.rodape p{
    color: #c8c8c8;
}

.rodape img {
    width: 40px;
    height: 40px;
}

.text-rodape{
    border-top: #292E38;
    display: flex;
    margin: 10px;
    gap: 10px;
}

.grid{ 
    display: grid;
    grid-template-columns: 1fr;
}

.paragrafos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-items: center;
}

.paragrafos p {
    align-content: center;
    width: 150px;
    height: 40px;
    background: #1E232D;
    color: #C56F65;
    text-align: center;
    border: 1px solid #292E38;
    border-radius: 2px;
}